// Override Bootstrap Variables here
$ubuntu: 'Ubuntu Mono';
$source-code-pro: 'Source Code Pro', ;
$hind: 'Hind', sans-serif;
$font-family-monospace:   $source-code-pro, "Courier New", monospace !default;
$footer-height: 60px;